@charset "utf-8";
body{ font-size:14px; font-family:"microsoft yahei", Arial; color:#000; margin:0px; padding:0px;}
ul, ol, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd{ margin:0px; padding:0px; list-style:none;}
a{ color:#000; text-decoration:none;}
img{ vertical-align:middle;}
button{ cursor:pointer;}
i,em{ font-style:normal;}
div:after{ content:""; display:block; clear:both;}
div:before{ content:""; display:table;}

/*导航栏*/
.busi_nav{ height:42px; line-height:42px; background:#c40000;}
.busi_1200{ width:1200px; margin:0 auto;}
.busi_nav a{ width:200px; color:#fff; float:left; font-size:18px; text-align:center;}

/*主体内容*/
.busi_box{ background:#f2f2f2; padding-bottom:20px;}

/*广告轮播图+登录*/
.focus_login{ width:1200px; float:left;}
.focus{ width:964px; height:300px; float:left; overflow:hidden; position:relative;}
.focus .hd{ width:100%; height:6px; position:absolute; z-index:1; bottom:0; text-align:center;}
.focus .hd ul{ overflow:hidden; display:-moz-box; display:-webkit-box; display:box; height:6px; background:#555; color:#555;}
.focus .hd ul li{ -moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.focus .hd ul .on{ background:#c40000; color:#c40000;}
.focus .bd{ position:relative; z-index:0;}
.focus .bd li img{ width:100%; height:300px;}
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}

.busi_login{ width:236px; height:300px; float:right; background:#fff;}
.busi_login dl{ width:108px; float:left; padding:30px 64px 0;}
.busi_login dt img{ width:108px; height:108px; float:left; border-radius:50%;}
.busi_login dd a{ width:108px; height:32px; line-height:32px; text-align:center; float:left; margin-top:15px; background:#c40000; color:#fff; border-radius:5px;}
.busi_login ul{ width:150px; float:left; padding:20px 43px 0;}
.busi_login li{ width:150px; float:left; height:28px; line-height:28px; overflow:hidden; color:#666;}

/*三大优势*/
.busi_kec{ width:1200px; height:63px; float:left; background:#fff; padding:20px 0; margin-top:10px;}
.busi_kec dl{ width:299px; float:left; border-right:1px solid #bfbfbf; padding-left:100px; overflow:hidden;}
.busi_kec dl:last-child{border-right:none;}
.busi_kec dt{ width:63px; height:63px; float:left;}
.busi_kec dd{ width:215px; line-height:24px;float:right;}
.busi_kec dd.kec_on{ font-size:20px; margin-top:8px;color:#c40000;}

/*企业新闻*/
.busi_jshi{ width:1196px; float:left; background:#fff; margin-top:20px; border:2px solid #c40000;}
.busi_t{ width:100%; float:left; line-height:70px; font-size:20px; padding:0 20px; box-sizing:border-box;}
.jshi_box { width:1196px; float:left; position: relative;}
.jshi-box { position: relative; overflow: auto; }
.jshi-box ul {overflow: hidden; margin-left:98px; }
.jshi-box li {float: left; list-style: none; height:280px;}
.tepin-box li{ height:604px;}
.zhuce-box li{ height:240px;}
.jshi-box dl{ width:470px; height:110px; float:left; padding:0 30px 30px 0; overflow:hidden;}
.jshi-box dt,.jshi-box dt img{ width:178px; height:110px; float:left;}
.jshi-box dd{ width:275px; float:right;}
.jshi-box dd h3{ width:275px; height:30px; line-height:30px; float:left; overflow:hidden; font-size:18px;}
.jshi-box dd p{ width:275px; height:80px; line-height:20px; float:left; overflow:hidden; color:#666;}
/** 导航圆点 **/
.jshi-box ol.dots { margin: 0; padding: 0; text-align: center; position: absolute; bottom: 10px; left: 0; right: 0;}
.jshi-box ol.dots li { display: inline-block; width: 6px; height: 6px; margin: 0 4px; background: transparent; border-radius: 5px; overflow: hidden; text-indent: -999em; border: 2px solid #fff; cursor: pointer;}
/** 导航箭头 **/
.jshi_box .arrow { position: absolute; top: 34%; cursor:pointer;}
.jshi_box .arrow.prev { left: 33px;}
.jshi_box .arrow.next { right: 33px;}

/*特聘讲师*/
.tepin-box dl{ width:200px; height:272px; padding:0 25px 30px;}
.tepin-box dt,.tepin-box dt img{ width:200px; height:200px; float:left;}
.tepin-box dd{ width:186px; float:left; border:2px solid #c40000; padding:5px; margin-top:10px;}
.tepin-box dd h3,.tepin-box dd p{ width:186px; height:25px; line-height:25px;}
.tepin-box dd p{ font-size:14px;}
.tepin_box .arrow { position: absolute; top:43%; cursor:pointer;}

/*注册讲师*/
.zhuce-box dl{ width:230px; height:90px; padding:0 20px 30px 0;}
.zhuce-box dt{ width:90px; height:90px;}
.zhuce-box dt img{ width:84px; height:84px; border:3px solid #d2d2d2; border-radius:50%;}
.zhuce-box dd{ width:130px;}
.zhuce-box dd h3,.zhuce-box dd p{ width:130px;}
.zhuce-box dd p{ height:60px; font-size:14px;}
.zhuce_box .arrow { position: absolute; top:32%; cursor:pointer;}

/*在线点播、企业精神、业务指导*/
.busi_dbo_newk{ width:1200px; float:left; margin-top:20px;}
.busi_dbo{ width:960px; float:left; background:#fff; border:2px solid #c40000;}
.dbo_box{width:960px; height:250px; float:left; overflow:hidden;}
.dbo_box dl{ width:200px; height:250px; float:left; overflow:hidden; margin-left:32px;}
.dbo_box dt{ width:200px; height:172px; float:left; position:relative; left:0; top:0;}
.dbo_box dt img{ width:200px; height:172px; float:left;}
.dbo_box dt span{ width:46px; height:18px; float:left; background:#c4c4c4; text-align:center; line-height:18px; position:absolute; right:5px; bottom:8px; z-index:99;}
.dbo_box dd{ width:200px; height:25px; line-height:25px; float:left; padding-top:10px; overflow:hidden; font-size:16px;}
.dbo_box dd.dbo_sm{ height:25px; line-height:25px; color:#666; padding-top:0; font-size:14px;}

.zdao_box{ height:198px;}
.zdao_box dl{ height:198px;}
.zdao_box dt{ height:120px;}
.zdao_box dt img{ height:120px;}

/*最新课程*/
.busi_newk,.busi_case{ width:192px; height:320px; float:right; background:#fff; padding:0 10px;border:2px solid #274c69;}
.busi_newk h3,.busi_case h3{ width:192px; float:left; line-height:35px; padding-top:18px;font-size:20px; font-weight:normal;}
.busi_newk ul,.busi_case dl{ width:192px; float:left;}
.busi_newk li{ width:192px; height:42px; line-height:42px; float:left; border-bottom:1px solid #ccc; overflow:hidden;}
.busi_newk li:last-child{ border-bottom:none;}
.busi_newk li a{ color:#666;}

/*最新案例、行业解读*/
.busi_case{ height:268px;}
.busi_case dl{ margin-top:6px;}
.busi_case dt,.busi_case dt img{ width:82px; height:46px; float:left;}
.busi_case dd{ width:105px; height:46px; line-height:23px; float:right; overflow:hidden;}

/*详情*/
.busi_infor{ width:1160px; float:left; background:#fff; padding:0 20px; margin-top:10px;}
.busi_infor h6{ width:1160px; float:left; height:40px; line-height:40px; font-size:14px; font-weight:normal; text-align:right; color:#666;}
.busi_infor h6 em{ padding:0 6px;}
.busi_infor h6 a{ color:#666; text-decoration:underline;}
.busi_infor h1 {width:1160px; float:left; padding:0 0 20px; line-height:50px; font-weight:normal; font-size:32px; text-align:center;}
.news_infor {width:1120px; float:left; padding:20px; line-height:35px; color:#333; border-top:1px dashed #e5e5e5; font-size:16px;}
.busi_sx{ width:1130px; padding:20px 0 50px 30px; float:left; text-align:center;}
.busi_sx a{ border:1px solid #CCC; padding:6px 20px; margin-right:30px;}