<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>消息列表</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_chat.css">
</head>
<body>
<header id="header">
  <div class="header-wrap">
    <div class="header-l"> <a href="javascript:history.go(-1)"> <i class="back"></i> </a> </div>
    <div class="header-title">
      <h1>反馈消息列表</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more bgc-t"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>云品</a></li>
        <li><a href="#"><i class="search"></i>云店</a></li>
         <li><a href="../search.html"><i class="categroy"></i>搜索</a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>我的订单<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout">
  <ul class="nctouch-message-list" id="messageList">
  </ul>
</div>
<script type="text/html" id="messageListScript">
<% if (!isEmpty(list)) { %>
<% for (var k in list) { %>
    <li>
      <dl>
        <dt><%=list[k].content%></dt>
       </dl>
      <time><%=list[k].ftime%></time>
      </a>
	  <a href="javascript:void(0)" t_id="<%=list[k].id%>" class="msg-list-del"></a>
	  </li>
	  <% if (isEmpty(list[k].bcontent)){ %>
	  <li><dd>未回复</dd></li>
	  <%}else{%>
	  <li>
        <dd><%=list[k].bcontent%></dd>
      </dl>
      <time><%=list[k].bftime%></time>
	  </li>
<% }} %>
<% } else { %>
        <div class="nctouch-norecord talk" style=" margin-top:100px" >
			<div class="norecord-ico"><i></i></div>
				<dl>
                 <dt>您还没反馈过任何信息</dt>
                </dl>
     	</div>
<% } %>
</script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script><script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/tmpl/chat_list_feedback.js"></script>
</body>
</html>