<!doctype html> 
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>资质提交</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../../css/qyht.css">
</head>
<body>
<header id="header" class="fixed">
  <div class="header-wrap">
    <div class="header-l" id="member-signonline2-div"></div>
    <div class="header-title">
      <h1>资质提交</h1>
    </div>
    <div class="header-title">  
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>云品</a></li>
        <li><a href="#"><i class="search"></i>云店</a></li>
         <li><a href="../search.html"><i class="categroy"></i>搜索</a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>我的订单<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="qy_list qy_list2" id="member-signonline-div"></div>

<script type="text/html" id="member-signonline-script">
    <form>
    <div class="special-tips">
        <p>特别提示：选择直接拍照或从手机相册上传图片时,请将图片尺寸控制在2M以内！(*)为必填项！<br />企业会员必须提交企业三证信息，否则驳回审核！
        </p>
    </div>
    <ul>
        <li>
          <span class="li-title">*加盟人身份证(正面)：</span>
          <% if(signOnlineInfo.idcard_positive_image) {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <div class="pic-thumb"><img src="<%=signOnlineInfo.idcard_positive_image%>"></div>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="idcard_positive_image" id="idcard_positive_image" value="<%=signOnlineInfo.idcard_positive_image%>" />
          </div>
          <%} else {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="idcard_positive_image" id="idcard_positive_image" value="" />
          </div>
          <%}%>
        </li>
        <li>
          <span class="li-title">*加盟人身份证(反面)：</span>
          <% if(signOnlineInfo.idcard_opposite_image) {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <div class="pic-thumb"><img src="<%=signOnlineInfo.idcard_opposite_image%>"></div>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="idcard_opposite_image" id="idcard_opposite_image" value="<%=signOnlineInfo.idcard_opposite_image%>" />
          </div>
          <%} else {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="idcard_opposite_image" id="idcard_opposite_image" value="" />
          </div>
          <%}%>
        </li>
        <li>
          <span class="li-title">*招商方授权书：</span>
          <% if(signOnlineInfo.authorization_image) {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <div class="pic-thumb"><img src="<%=signOnlineInfo.authorization_image%>"></div>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="authorization_image" id="authorization_image" value="<%=signOnlineInfo.authorization_image%>" />
          </div>
          <%} else {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="authorization_image" id="authorization_image" value="" />
          </div>
          <%}%>
        </li>
        <li>
          <span class="li-title">*加盟人打款凭证：</span>
          <% if(signOnlineInfo.payment_image) {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <div class="pic-thumb"><img src="<%=signOnlineInfo.payment_image%>"></div>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="payment_image" id="payment_image" value="<%=signOnlineInfo.payment_image%>" />
          </div>
          <%} else {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="payment_image" id="payment_image" value="" />
          </div>          
          <%}%>
        </li>
        <li>
          <span class="li-title">加盟人营业执照：</span>
          <% if(signOnlineInfo.business_licence_image) {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <div class="pic-thumb"><img src="<%=signOnlineInfo.business_licence_image%>"></div>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="business_licence_image" value="<%=signOnlineInfo.business_licence_image%>" />
          </div>
          <%} else {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="business_licence_image" value="" />
          </div>
          <%}%>
        </li>
        <li>
          <span class="li-title">加盟人组织机构代码证：</span>
          <% if(signOnlineInfo.organization_code_image) {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <div class="pic-thumb"><img src="<%=signOnlineInfo.organization_code_image%>"></div>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="organization_code_image" value="<%=signOnlineInfo.organization_code_image%>" />
          </div>
          <%} else {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="organization_code_image" value="" />
          </div>
          <%}%>
        </li>
        <li>
          <span class="li-title">加盟人税务登记证：</span>
          <% if(signOnlineInfo.tax_registration_image) {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <div class="pic-thumb"><img src="<%=signOnlineInfo.tax_registration_image%>"></div>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="tax_registration_image" value="<%=signOnlineInfo.tax_registration_image%>" />
          </div>
          <%} else {%>
          <div class="nctouch-upload1">
            <a href="javascript:void(0);">
              <span><input type="file" hidefocus="true" size="1" class="input-file" name="file" id=""></span>
              <p><i class="icon-upload"></i></p>
            </a>
            <input type="hidden" name="tax_registration_image" value="" />
          </div>
          <%}%>
        </li>
    </ul>
    <input type="hidden" class="name" id="signOnline_id" name="signOnline_id" value ="<%=signOnlineInfo.id%>"/>
    <div class="error-tips"></div>
    <div class="qy_btn"><a href="javascript:;">下一步</a></div>
    </form>
</script>

<script type="text/html" id="member-signonline2-script">
  <a href="sign_online_step3.html?id=<%=signOnlineInfo.id%>"><i class="back"></i></a>
</script>

<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/tmpl/member_signonline4.js"></script> 
</body>
</html>
