<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>会员内推升级申请列表</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_cart.css">
<style type='text/css'>
.ncc-payment-list li:hover{ border: solid 2px #52A452; margin: 10px;}
.ncc-payment-list li { vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; width: 120px; padding: 10px 30px; margin: 11px; border: solid 1px #E6E6E6; border-radius: 4px; position: relative; z-index: 1;}
.ncc-payment-list li.using { border: solid 2px #52A452; margin: 10px;}
</style>
<script src="https://www.wandiantonglian.com/wap/js/bsl.js" type="text/javascript"></script>
</head>
<body>
<header id="header" class="fixed">
  <div class="header-wrap">
    <div class="header-l"><a href="member.html"><i class="back"></i></a></div>
    <div class="header-title">
      <h1>会员内推升级申请列表</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>云品</a></li>
        <li><a href="#"><i class="search"></i>云店</a></li>
         <li><a href="../search.html"><i class="categroy"></i>搜索</a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>我的订单<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout">
  <div id="fixed_nav" class="nctouch-single-nav">
    <ul id="filtrate_ul" class="w20h">
      <li class="selected" style="width: 25%;"><a href="javascript:void(0);" data-state="state_fail">审核失败</a></li>
      <li style="width: 25%;"><a href="javascript:void(0);" data-state="state_uncheck">等待审核</a></li>
      <li style="width: 25%;"><a href="javascript:void(0);" data-state="state_success">审核成功</a></li>
      <li style="width: 25%;"><a href="javascript:void(0);" data-state="state_all">全部申请</a></li>
    </ul>
  </div>
  <div class="nctouch-order-list" style="margin-top:4.1rem;">
    <ul id="order-list">
    </ul>
  </div>
</div>
<footer id="footer" class="bottom"></footer>
<script type="text/html" id="order-list-tmpl">
<% var signonline_list_array = datas.signonline_list_array; %>
<% if (signonline_list_array.length > 0){%>
  <% for(var i = 0;i<signonline_list_array.length;i++){%>
    <li class="green-order-skin">
        <div class="nctouch-order-item" >
          <div class="nctouch-order-item-head">
              <a class="store"><i class="icon"></i>加盟方ID:<%=signonline_list_array[i].update_member_id%></a>
            <span class="state">
              <span class="ot-nofinish"><%=signonline_list_array[i].update_status%></span>
            </span>
          </div>
          <div class="nctouch-oredr-detail-block mt5" style="padding: 0.1px 0;border-bottom:none;">
            <ul class="nctouch-default-list" style="margin-bottom:0">
              <li><h4>加盟方姓名：</h4><span class="num" style="margin-right:0;"><%=signonline_list_array[i].update_member_truename%></span></li>
              <li><h4>加盟方电话：</h4><span class="num" style="margin-right:0;"><%=signonline_list_array[i].update_member_mobile%></span></li>
              <li><h4>加盟等级：</h4><span class="num" style="margin-right:0;"><%=signonline_list_array[i].update_level%></span></li>
              <li><h4>加盟区域详情：</h4><span class="num" style="margin-right:0;"><%=signonline_list_array[i].update_level_detail%></span></li>
              <li><h4>原代理区域详情：</h4><span class="num" style="margin-right:0;"><%=signonline_list_array[i].old_level_detail%></span></li>
              <li><h4>加盟总费用：</h4><span class="num" style="margin-right:0;"><%=signonline_list_array[i].update_amount_total%>元</span></li>
              <li><h4>加盟首期费用：</h4><span class="num" style="margin-right:0;"><%=signonline_list_array[i].update_amount_first%>元</span></li>
            </ul>
          </div>
          <%if(signonline_list_array[i].update_status == '审核失败'){%>
          <div class="nctouch-order-item-footer">
            <div class="store-totle">
              <span class="sum">审核失败原因：<em><%=signonline_list_array[i].operation_message%></em></span>
            </div>
            <div class="handle">
              <a href="sign_online_step1.html?id=<%=signonline_list_array[i].id%>" class="btn cancel-order">修改申请</a>
            </div>
          </div>
          <%}%>   
        </div>
      </li>
  <%}%>
	<% if (hasmore) {%>
	<li class="loading"><div class="spinner"><i></i></div>数据读取中...</li>
	<% } %>
<%} else {%>
	<div class="nctouch-norecord order">
		<div class="norecord-ico"><i></i></div>
		<dl>
			<dt>您还没有相关的申请</dt>
		</dl>
	</div>
<%}%>
</script>
<script> var navigate_id ="5";</script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/tmpl/footer.js"></script>
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script> 
<script type="text/javascript" src="../../js/tmpl/order_payment_common.js"></script> 
<script type="text/javascript" src="../../js/tmpl/sign_online_list.js"></script>
</body>
</html>
