<!doctype html> 
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>中奖记录</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_cart.css">
</head>
<body>
<header id="header" class="fixed">
  <div class="header-wrap">
    <div class="header-l"><a href="member.html"><i class="back"></i></a></div>
        <span class="header-tab">
	       <a href="javascript:void(0);" class="cur" >中奖纪录</a>
	       <a href="prizeorder_list.html">我的奖品</a>
	    </span>
	<div class="header-title">  
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>首页</a></li>
        <li><a href="../search.html"><i class="search"></i>搜索</a></li>
        <li><a href="../product_first_categroy.html"><i class="categroy"></i>分类</a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息</a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的商城</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout"> 
    <div class="nctouch-order-list">
        <ul id="order-list">
        </ul>
    </div>
</div>
<div class="fix-block-r">
	<a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>
<footer id="footer" class="bottom"></footer>
<script type="text/html" id="order-list-tmpl">
<% var order_list = datas.order_list; %>
<% if (order_list.length > 0){%>
	<% for(var i = 0;i<order_list.length;i++){
		var order_goods = order_list[i];
	%>
		<li class="<%if(order_goods.point_allpoint){%>green-order-skin<%}else{%>gray-order-skin<%}%> <%if(i>0){%>mt10<%}%>">
			<div class="nctouch-order-item">
				<div class="nctouch-order-item-head">
					
					<a class="store">
					<i class="icon"></i>中奖信息</a>
					
					<span class="state">
						<%
							var stateClass ="ot-finish";
							var orderstate = order_goods.order_state;
							if(orderstate == 20 || orderstate == 30 || orderstate == 40|| orderstate == 50){
								stateClass = stateClass;
							}else if(orderstate == 2) {
								stateClass = "ot-cancel";
							}else {
								stateClass = "ot-nofinish";
							}
						%>
						<span class="<%=stateClass%>"><%if(order_goods.state_desc=='待发货'){%>处理中<%}else{%><%=order_goods.state_desc%><% } %></span>
					</span>
				</div>
				<div class="nctouch-order-item-con">
					<div class="goods-block">
						<a href="#">
							<div class="goods-pic">
								<img src="../../images/award_default.png"/>
							</div>
							<dl class="goods-info">
								<dt class="goods-name"><%=order_goods.award_content%></dt>
								<dd class="goods-type"></dd>
							</dl>
							<div class="goods-subtotal">
								<span class="goods-num">1件</span>
							</div>
						</a>
					</div>
				</div>
				<div class="nctouch-order-item-footer"> 
					<div class="handle">
						<%if(order_goods.point_orderid=='0'){%>
						<a href="https://www.ytbwdtl.com/wap/tmpl/order/sweeporder_address.html?sweeporder_id=<%=order_goods.id%>" order_id="<%=order_goods.id%>" class="btn">添加信息</a>
						<%}%>
						<%if(order_goods.order_state =='30' ){%>
                            <%if(order_goods.order_state =='30' && order_goods.order_type == 1){%>
                                <a href="javascript:void(0)" order_id="<%=order_goods.id%>" class="btn viewdelivery-order">查看物流</a>
                            <%}%>
                        <a href="javascript:void(0)" order_id="<%=order_goods.id%>" class="btn key sure-order">确认收货</a>
						<%}%>
						<%if(order_goods.order_state =='20'){%>
						<a href="javascript:void(0)" order_id="<%=order_goods.id%>" class="btn">待处理</a>
						<%}%>
                        <%if(order_goods.order_state =='40'){%>
                        <a href="javascript:void(0)" order_id="<%=order_goods.id%>" class="btn">已完成</a>
                        <%}%>
					</div>
				</div>
			</div>	
		</li>
	<%}%>
	<% if (hasmore) {%>
	<li class="loading"><div class="spinner"><i></i></div>订单数据读取中...</li>
	<% } %>
<%}else {%>
	<div class="nctouch-norecord order">
		<div class="norecord-ico"><i></i></div>
		<dl>
			<dt>您还没有相关的中奖纪录</dt>
			<dd>可以参加幸运大转盘</dd>
		</dl>
		<a href="<%=WapSiteUrl%>/tmpl/pointspro_list.html" class="btn">随便逛逛</a>
	</div>
<%}%>
</script>
<script> var navigate_id ="5";</script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script> 
<script type="text/javascript" src="../../js/tmpl/sweepstakesorder_list.js"></script>
</body>
</html>
