@charset "utf-8";
body{ font-size:14px; font-family:"microsoft yahei", Arial; color:#000; margin:0; padding:0; border:0;}
ul, ol, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd{ margin:0px; padding:0px; list-style:none;;}
a{ color:#000; text-decoration:none;}
img{ width:100%; vertical-align:middle;}
i,em{ font-style:normal;}
div:after{ content:""; display:block; clear:both;}
div:before{ content:""; display:table;}

/*内容*/
.cp_list li{ width:50%; float:left;}

/*底部*/
.wd-footer{ background:#aa374a; padding:.3rem 0; position:fixed; left:0; bottom:0;}
.wd-footer dl{ width:100%;}
.wd-footer dt{ width:12%; float:left; margin:0 1% 0 5%;}
.wd-footer dt img { width:80%; float:left; margin-left:10%;}
.wd-footer dt a{ color:#fff;}
.wd-footer dt span{ width:100%; float:left; font-size:.7rem; font-weight:normal; text-align:center;}
.wd-footer dd{ width:14%; float:left; margin:0 3% 0 8%;}

