/*导航栏*/
.wd-meun{ background:#000; margin-top:6px; padding-top:8px;}
.wd-meun li{ width:16%; float:left; margin:0 4.5%; padding-bottom:4px;}
.wd-meun li a{ color:#d2af78;}
.wd-meun li span{ width:100%; line-height:1.8rem; float:left; font-size:.78rem; text-align:center;}
.wd-meun li img{ width:90%; float:left; margin-left:5%;}

/*万店头条*/
.wd-topline,.wd-rush,.wd-choice,.wd-ad{ background:#fff; margin-top:8px;}
.wd-topline p{ color:#868686; line-height:1.7rem; padding:.6rem .8rem; text-align:right; margin:0;}
.wd-topline p img{ width:7rem; float:left;}
.wd-topline li{ width:50%; float:left;}

/*限时抢购专区*/
.wd-rush h3,.wd-choice h3{ background:#dc3641; color:#2f2f2f; text-align:center; line-height:2.6rem; font-weight:bold; font-size:1rem; letter-spacing:2px; margin:0;}
.wd-rush li{ width: 29%; float: left; margin: 10px 0 0 3.25%; position: relative;}
.wd-rush li a{ color:#333; text-align:center; font-size:.8rem;}
.wd-rush li span{ width:100%; height:1.6rem; line-height:1.6rem; padding-top:4px; float:left; overflow:hidden;}
.wd-rush li p{ width:100%; height:1.2rem; float:left; color:#aa374a; overflow:hidden; font-size:.6rem;}
.wd-rush li div{ width:100%; height:69%; line-height:1.5rem; background:rgba(220,54,65,.8); color:#fff; text-align:center; position:absolute; left:0; top:0; z-index:99; padding-top:30%;}
.wd-rush li div b{ width:100%; float:left; font-size:1.3rem; font-weight:normal;}
.wd-rush li div small{ width:100%; float:left; font-size:.8rem; font-weight:normal;}

/*每日精选*/
.wd-choice h3{ background:#e4e4e4;}
.wd-choice li{ width:100%; float:left; margin:6px 0 0;}